<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <%- include('./partials/ui/nav_destktop.ejs') %>
  <section class="body">
    <%- include('./partials/ui/top_bar.ejs') %>
    <main class="main-content">
      <%- include('./partials/ui/filter_bar.ejs') %>
      <div class="section car-brands">
        <div class="section-header">
          <p class="section-name">Top Car Brands</p>
        </div>
        <div class="section brands">
          <form action="/brand" method="get" class="car-brand">
            <input type="text" name="brandName" value="audi" type="hidden" style="display: none;">
            <button type="submit" class="car-brand">
              <img src="assets/brands/audi.jpg" alt="audi">
              <p class="brand-name">Audi</p>
            </button>
          </form>
          <form action="/brand" method="get" class="car-brand">
            <input type="text" name="brandName" value="BMW" type="hidden" style="display: none;">
            <button type="submit" class="car-brand">
              <img src="assets/brands/bmw.jpg" alt="bmw">
              <p class="brand-name">BMW</p>
            </button>
          </form>
          <form action="/brand" method="get" class="car-brand">
            <input type="text" name="brandName" value="Ford" type="hidden" style="display: none;">
            <button type="submit" class="car-brand">
              <img src="assets/brands/ford.jpg" alt="ford">
              <p class="brand-name">Ford</p>
            </button>
          </form>
          <form action="/brand" method="get" class="car-brand">
            <input type="text" name="brandName" value="Honda" type="hidden" style="display: none;">
            <button type="submit" class="car-brand">
              <img src="assets/brands/honda.jpg" alt="honda">
              <p class="brand-name">Honda</p>
            </button>
          </form>

          <form action="/brand" method="get" class="car-brand">
            <input type="text" name="brandName" value="Hyundai" type="hidden" style="display: none;">
            <button type="submit" class="car-brand">
              <img src="assets/brands/hyundai.jpg" alt="hyundai">
              <p class="brand-name">Hyundai</p>
            </button>
          </form>

          <form action="/brand" method="get" class="car-brand">
            <input type="text" name="brandName" value="Toyota" type="hidden" style="display: none;">
            <button type="submit" class="car-brand">
              <img src="assets/brands/toyota.jpg" alt="toyota">
              <p class="brand-name">Toyota</p>
            </button>
          </form>
        </div>
      </div>
      <div class="section resent-cars">
        <div class="section-header">
          <p class="section-name">Resent Cars</p>
          <a href="">View All</a>
        </div>
        <div class="cars">
          <%- include('./partials/ui/car.ejs') %>
          <%- include('./partials/ui/car.ejs') %>
          <%- include('./partials/ui/car.ejs') %>
          <%- include('./partials/ui/car.ejs') %>
          <%- include('./partials/ui/car.ejs') %>
          <%- include('./partials/ui/car.ejs') %>
          <%- include('./partials/ui/car.ejs') %>
        </div>
      </div>

      <div class="section resent-cars">
        <div class="section-header">
          <p class="section-name">Your Saved Cars</p>
          <a href="">View All</a>
        </div>
        <div class="cars">
          <%- include('./partials/ui/car.ejs') %>
          <%- include('./partials/ui/car.ejs') %>
          <%- include('./partials/ui/car.ejs') %>
          <%- include('./partials/ui/car.ejs') %>
          <%- include('./partials/ui/car.ejs') %>
          <%- include('./partials/ui/car.ejs') %>
          <%- include('./partials/ui/car.ejs') %>
        </div>
      </div>

    </main>
  </section>

</body>

</html>